/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 120%; }
  100% {
    opacity: 1;
    top: 100%; } }

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    top: 10px; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes showimg {
  0% {
    filter: blur(3px); }
  100% {
    filter: blur(0px); } }

@keyframes showheader {
  0% {
    opacity: 0;
    top: -20px; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes top-bot {
  0% {
    opacity: 0;
    top: -100px; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes left-right {
  0% {
    left: -100vw; }
  100% {
    left: 0; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

/* ============== Header =================*/
.header {
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 2; }
  .header .sticky {
    top: 0;
    position: fixed;
    background-color: white;
    width: 100vw;
    animation: showheader ease-in-out 1s; }
  .header__top {
    padding: 16px 0;
    border: 1px solid #d6d0d0; }
    .header__top-bar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .header__top-bar .bar__left {
        display: flex; }
        @media only screen and (max-width: 768px) {
          .header__top-bar .bar__left {
            margin: 0 auto 16px auto; } }
        .header__top-bar .bar__left .caption {
          position: relative;
          cursor: pointer;
          padding: 0 15px;
          z-index: 2; }
        .header__top-bar .bar__left > li {
          color: black; }
        .header__top-bar .bar__left-item {
          margin-right: 16px; }
          .header__top-bar .bar__left-item .icon-arrow {
            color: #c4c2c2; }
          .header__top-bar .bar__left-item .item-title {
            margin: 0 4px; }
        .header__top-bar .bar__left .dropdown {
          position: relative; }
          .header__top-bar .bar__left .dropdown .img {
            position: absolute;
            left: -1 px;
            top: 3px; }
          .header__top-bar .bar__left .dropdown i {
            position: absolute;
            right: 4px;
            top: 3px; }
        .header__top-bar .bar__left .item__language img {
          height: 16px;
          width: auto;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 2px; }
        .header__top-bar .bar__left .item__money .open > .list {
          display: block;
          margin-top: 20px;
          width: 100%;
          box-shadow: 2px 2px 6px rgba(124, 105, 105, 0.12), 2px 2px 6px rgba(124, 105, 105, 0.12); }
      .header__top-bar .bar__right {
        display: flex; }
        @media only screen and (max-width: 768px) {
          .header__top-bar .bar__right {
            margin: auto; } }
        .header__top-bar .bar__right > li {
          color: black; }
        .header__top-bar .bar__right-item {
          margin-left: 16px; }
          .header__top-bar .bar__right-item .icon-arrow {
            color: #c4c2c2; }
          .header__top-bar .bar__right-item .item-title {
            margin: 0 4px; }
  .header__bot-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 16px 0; }
    .header__bot-bar .bar__left {
      display: flex;
      align-items: center; }
      .header__bot-bar .bar__left-logo {
        color: #f85d71;
        position: relative; }
        .header__bot-bar .bar__left-logo::before {
          position: absolute;
          content: '';
          top: -30%;
          left: -20%;
          width: 80%;
          height: 80%;
          border-radius: 50%;
          background-color: #f85d71;
          opacity: 0.2; }
      .header__bot-bar .bar__left span {
        line-height: 30px;
        font-weight: 900;
        margin: auto;
        font-size: 24px; }
    .header__bot-bar .bar__right {
      display: flex; }
      .header__bot-bar .bar__right-list {
        display: flex; }
        @media only screen and (max-width: 1023px) {
          .header__bot-bar .bar__right-list .hidden-reponsive {
            display: none; } }
        .header__bot-bar .bar__right-list .list__item {
          font-weight: 500;
          margin: auto 16px auto 0;
          padding: 24px 0;
          position: relative; }
          .header__bot-bar .bar__right-list .list__item a {
            color: black; }
          .header__bot-bar .bar__right-list .list__item .icon-arrow {
            color: #c4c2c2; }
          .header__bot-bar .bar__right-list .list__item:hover {
            color: #f85d71; }
            .header__bot-bar .bar__right-list .list__item:hover a,
            .header__bot-bar .bar__right-list .list__item:hover i {
              color: #f85d71; }
            .header__bot-bar .bar__right-list .list__item:hover .hovermenuCommon {
              top: 100%;
              display: block;
              animation: fadeIn ease-in-out 0.5s; }
            .header__bot-bar .bar__right-list .list__item:hover .hovermenu2__top-sale img {
              display: block;
              animation: showimg ease-in-out 2s; }
            .header__bot-bar .bar__right-list .list__item:hover .hovermenu2__top-sale .sale__content-new {
              display: block;
              animation: fadeIn2 ease-in-out 0.5s; }
            .header__bot-bar .bar__right-list .list__item:hover .hovermenu2__top-sale .sale__content-sale {
              display: block;
              animation: fadeIn2 ease-in-out 1s; }
            .header__bot-bar .bar__right-list .list__item:hover .hovermenu2__top-sale .sale__content-btn {
              display: block;
              animation: fadeIn2 ease-in-out 1.25s; }
          .header__bot-bar .bar__right-list .list__item .hovermenuCommon {
            background-color: white;
            position: absolute;
            display: none;
            transition: all 0.5s ease-in-out;
            box-shadow: 0px 6px 6px rgba(105, 123, 124, 0.12), 0px 6px 6px rgba(105, 123, 124, 0.12); }
          .header__bot-bar .bar__right-list .list__item .hovermenu1 {
            left: -8px;
            width: 160px; }
            .header__bot-bar .bar__right-list .list__item .hovermenu1__list-item {
              margin: 16px 0;
              padding: 0 8px;
              color: black;
              position: relative; }
              .header__bot-bar .bar__right-list .list__item .hovermenu1__list-item i {
                color: black;
                position: absolute;
                top: 0%;
                left: 90%; }
              .header__bot-bar .bar__right-list .list__item .hovermenu1__list-item .hovermenu4 {
                top: 20px;
                left: -200px;
                width: 200px;
                position: absolute;
                opacity: 0;
                transition: all 0.1s ease-in-out;
                box-shadow: 0px 6px 6px rgba(105, 123, 124, 0.12), 0px 6px 6px rgba(105, 123, 124, 0.12); }
              .header__bot-bar .bar__right-list .list__item .hovermenu1__list-item:hover {
                color: #ff324d; }
                .header__bot-bar .bar__right-list .list__item .hovermenu1__list-item:hover i {
                  color: #ff324d; }
                .header__bot-bar .bar__right-list .list__item .hovermenu1__list-item:hover .hovermenu4 {
                  opacity: 1;
                  top: -10px; }
          .header__bot-bar .bar__right-list .list__item .hovermenu2 {
            position: absolute;
            width: 1100px;
            color: black; }
            .header__bot-bar .bar__right-list .list__item .hovermenu2__top {
              padding: 16px 16px;
              margin-right: 16px; }
              .header__bot-bar .bar__right-list .list__item .hovermenu2__top .col-3 {
                border-right: 1px solid #b1abab; }
              .header__bot-bar .bar__right-list .list__item .hovermenu2__top .col-3:last-child {
                border-right: none; }
              .header__bot-bar .bar__right-list .list__item .hovermenu2__top-list .list__title {
                font-size: 20px;
                font-weight: 500; }
              .header__bot-bar .bar__right-list .list__item .hovermenu2__top-list .list__item {
                padding: 16px 0 16px 0; }
              .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale {
                position: relative; }
                .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale img {
                  width: 100%;
                  display: none; }
                .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content {
                  font-family: 'Roboto', sans-serif;
                  position: absolute;
                  bottom: 10px;
                  left: 16px;
                  color: white;
                  z-index: 1; }
                  .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content-item {
                    display: none;
                    position: relative; }
                  .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content-new {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 16px; }
                  .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content-sale {
                    font-size: 28px;
                    font-weight: 900;
                    margin-bottom: 16px; }
                  .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content-btn {
                    width: 140px;
                    height: 40px;
                    line-height: 40px;
                    color: black; }
                    .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content-btn:before {
                      background: white; }
                    .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content-btn:after {
                      background: white; }
                    .header__bot-bar .bar__right-list .list__item .hovermenu2__top-sale .sale__content-btn:hover {
                      color: white; }
          .header__bot-bar .bar__right-list .list__item .productmenu {
            left: -706px; }
            @media only screen and (max-width: 1199.5px) {
              .header__bot-bar .bar__right-list .list__item .productmenu {
                left: -532px;
                width: 930px; } }
          .header__bot-bar .bar__right-list .list__item .shopmenu {
            left: -870px; }
            @media only screen and (max-width: 1199.5px) {
              .header__bot-bar .bar__right-list .list__item .shopmenu {
                left: -688px;
                width: 930px; } }
          .header__bot-bar .bar__right-list .list__item .hovermenu3 {
            right: -100%;
            width: 350px;
            top: 120%; }
        .header__bot-bar .bar__right-list .cart__item {
          position: relative; }
          .header__bot-bar .bar__right-list .cart__item::after {
            position: absolute;
            content: '';
            width: 70px;
            height: 25px;
            right: -13px;
            bottom: 0px;
            z-index: 999; }
          .header__bot-bar .bar__right-list .cart__item::before {
            position: absolute;
            content: '';
            width: 40px;
            height: 30px;
            left: -50%;
            top: 30%;
            z-index: 999; }
          .header__bot-bar .bar__right-list .cart__item-logo {
            position: relative; }
            .header__bot-bar .bar__right-list .cart__item-logo .cart-notify {
              position: absolute;
              top: -10px;
              right: -10px;
              background-color: #ff324d;
              color: white;
              padding: 1px 5px;
              border-radius: 50%; }
          .header__bot-bar .bar__right-list .cart__item .notify {
            color: black;
            font-weight: 400; }
            .header__bot-bar .bar__right-list .cart__item .notify__list-item {
              padding: 8px 8px;
              border-bottom: 1px solid gray;
              display: flex;
              justify-content: space-around; }
              .header__bot-bar .bar__right-list .cart__item .notify__list-item .item__informatian-name {
                padding-bottom: 16px; }
              .header__bot-bar .bar__right-list .cart__item .notify__list-item .item__close i {
                color: black; }
              .header__bot-bar .bar__right-list .cart__item .notify__list-item:hover {
                color: #ff324d; }
                .header__bot-bar .bar__right-list .cart__item .notify__list-item:hover i {
                  color: #ff324d; }
            .header__bot-bar .bar__right-list .cart__item .notify__total {
              display: flex;
              justify-content: space-between;
              padding: 8px 8px; }
            .header__bot-bar .bar__right-list .cart__item .notify__btn {
              display: flex;
              justify-content: space-around;
              padding: 8px 8px; }
              .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-view {
                border: 1px solid black;
                color: black;
                width: 140px;
                height: 40px;
                line-height: 40px;
                color: white;
                z-index: 1; }
                .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-view:before {
                  background: #212121; }
                .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-view:after {
                  background: #212121; }
                .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-view:hover {
                  color: black; }
              .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-check {
                border: 1px solid #ff324d;
                width: 140px;
                height: 40px;
                line-height: 40px;
                color: white;
                z-index: 1; }
                .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-check:before {
                  background: #ff324d; }
                .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-check:after {
                  background: #ff324d; }
                .header__bot-bar .bar__right-list .cart__item .notify__btn .notify__btn-check:hover {
                  color: #ff324d; }
      .header__bot-bar .bar__right .item-bar {
        display: none; }
        @media only screen and (max-width: 1025px) {
          .header__bot-bar .bar__right .item-bar {
            display: block; } }
    .header__bot-bar .bar__menurepon {
      position: absolute;
      width: 100%;
      width: 100%;
      top: 100%;
      overflow: hidden;
      padding: 0 8px;
      max-height: 0px;
      transition: all 1s ease-in-out; }
      .header__bot-bar .bar__menurepon-item {
        position: relative;
        overflow: hidden;
        max-height: 18px;
        transition: all 1s ease-in-out;
        margin-bottom: 18px; }
        .header__bot-bar .bar__menurepon-item:hover {
          color: #ff324d; }
        .header__bot-bar .bar__menurepon-item .item__icon {
          position: absolute;
          top: 0;
          left: 96%; }
        .header__bot-bar .bar__menurepon-item .item__list {
          padding-left: 20px; }
          .header__bot-bar .bar__menurepon-item .item__list a {
            background: linear-gradient(to right, black, black 50%, rgba(0, 0, 0, 0.6) 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 275ms ease-in-out; }
          .header__bot-bar .bar__menurepon-item .item__list a:hover {
            background-position: 0 100%; }
          .header__bot-bar .bar__menurepon-item .item__list-link {
            margin-top: 18px; }
      .header__bot-bar .bar__menurepon .show {
        padding-bottom: 18px;
        margin-bottom: 0;
        max-height: 100vh;
        overflow-y: hidden; }
        .header__bot-bar .bar__menurepon .show .item__list {
          box-shadow: 6px 0px 30px rgba(105, 123, 124, 0.12), 6px 0px 30px rgba(105, 123, 124, 0.12); }
    .header__bot-bar .show {
      max-height: 100vh; }

.footer {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400; }
  .footer__top {
    padding: 100px 0;
    border-bottom: 1px solid gray; }
    .footer__top-item {
      margin: 12px 16px 12px 0; }
      .footer__top-item .item__title {
        font-size: 24px;
        font-weight: 600;
        display: flex;
        margin-bottom: 16px; }
        .footer__top-item .item__title span {
          margin: auto 0 auto 0; }
      .footer__top-item .item__list-content {
        margin: 16px 0; }
        .footer__top-item .item__list-content a {
          color: white;
          text-decoration: none; }
        .footer__top-item .item__list-content a:hover {
          color: #ff324d; }
      .footer__top-item .item__list i {
        margin-right: 8px; }
  .footer__bot {
    padding: 40px 0;
    display: flex;
    justify-content: space-between; }
    .footer__bot img {
      width: auto; }

.form {
  margin: 100px 0; }
  .form__main {
    box-shadow: 6px 6px 10px rgba(105, 123, 124, 0.12), -6px -6px 10px rgba(105, 123, 124, 0.12);
    padding: 50px 40px; }
    .form__main-title {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 30px; }
    .form__main-button {
      border: 1px solid #ff324d;
      line-height: 40px;
      color: white;
      margin-top: 16px;
      z-index: 1; }
      .form__main-button:before {
        background: #ff324d; }
      .form__main-button:after {
        background: #ff324d; }
      .form__main-button:hover {
        color: #ff324d; }
    .form__main-or {
      text-align: center;
      margin: 16px 0;
      position: relative; }
      .form__main-or::after {
        position: absolute;
        width: 40%;
        height: 1px;
        content: '';
        margin: auto;
        position: absolute;
        top: 50%;
        left: 59%;
        background: #beb7b7; }
      .form__main-or::before {
        position: absolute;
        width: 40%;
        height: 1px;
        content: '';
        margin: auto;
        position: absolute;
        top: 50%;
        right: 59%;
        background: #beb7b7; }
    .form__main-bot {
      text-align: center; }
      .form__main-bot a {
        color: black; }
        .form__main-bot a:hover {
          color: #ff324d; }
      .form__main-bot .bot-btn {
        display: flex;
        justify-content: center;
        color: white; }
        .form__main-bot .bot-btn .facebook-btn {
          background-color: #3b5998;
          margin-right: 16px;
          width: 140px;
          height: 45px;
          line-height: 45px; }
        .form__main-bot .bot-btn .google-btn {
          background-color: #d85040;
          width: 140px;
          height: 45px;
          line-height: 45px; }

.button-primary {
  cursor: pointer;
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 24px;
  border-radius: 5px;
  transition: all .5s; }
  .button-primary:before {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all .5s;
    z-index: -1; }
  .button-primary:after {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all .5s;
    z-index: -1; }
  .button-primary:hover:before {
    left: -100%; }
  .button-primary:hover:after {
    left: 100%; }

.button-primary1 {
  border: 1px solid #ff324d;
  color: white;
  z-index: 1; }
  .button-primary1:before {
    background: #ff324d; }
  .button-primary1:after {
    background: #ff324d; }
  .button-primary1:hover {
    color: #ff324d; }

.button-primary2 {
  border: 1px solid black;
  z-index: 1;
  color: white; }
  .button-primary2:before {
    background: black; }
  .button-primary2:after {
    background: black; }
  .button-primary2:hover {
    color: black; }

.button-default {
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 8px;
  font-size: 24px; }

.dropdown .caption {
  cursor: pointer; }

.dropdown .list {
  position: absolute;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: none;
  background-color: #fff;
  transform: all 1s;
  animation: scale-display .3s;
  z-index: 999; }
  .dropdown .list > .item {
    padding: 11px 5px;
    cursor: pointer; }
    .dropdown .list > .item .selected {
      font-weight: bold; }
    .dropdown .list > .item:hover {
      background-color: #53a1d6;
      color: #fff; }

.open > .list {
  display: block;
  width: 150px;
  margin-top: 20px;
  box-shadow: 2px 2px 6px rgba(124, 105, 105, 0.12), 2px 2px 6px rgba(124, 105, 105, 0.12); }

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); } }

.modal1 {
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
  display: flex;
  animation-delay: 1s; }

.modal2 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  animation: left-right ease-in-out 0.8s; }

.popup {
  display: flex;
  margin: auto;
  position: relative;
  text-align: center;
  animation: top-bot ease-in-out 0.5s; }
  .popup__close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: red; }
  .popup__content {
    background-color: #fff;
    padding: 50px 50px; }
    .popup__content-btn {
      margin-top: 16px; }
    .popup__content-title {
      font-size: 32px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700; }
    .popup__content-check {
      margin-top: 16px; }
    .popup__content-input {
      margin-top: 24px; }
  @media only screen and (max-width: 1024px) {
    .popup__img {
      width: 320px; }
    .popup__content {
      padding: 40px 35px; }
      .popup__content-title {
        font-size: 28px;
        font-weight: 600; } }
  @media only screen and (max-width: 768px) {
    .popup__img {
      width: 260px; }
    .popup__content {
      padding: 20px 20px; }
      .popup__content-title {
        font-size: 22px;
        font-weight: 600; } }
  @media only screen and (max-width: 600px) {
    .popup {
      margin-left: 10px;
      margin-right: 10px; }
      .popup__img {
        width: auto; }
        .popup__img img {
          height: 100%; }
      .popup__content {
        padding: 20px 20px; }
        .popup__content-title {
          font-size: 22px;
          font-weight: 600; } }
  @media only screen and (max-width: 426px) {
    .popup__img {
      display: none; }
    .popup__content {
      padding: 30px 20px; }
      .popup__content-title {
        font-size: 22px;
        font-weight: 600; } }

.search {
  width: 100%;
  height: 100%;
  display: flex; }
  .search .container {
    margin-top: auto;
    margin-bottom: auto; }
  .search__content {
    margin: auto;
    position: relative; }
    .search__content .search-control {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid white;
      border-radius: .25rem;
      outline: none;
      color: white;
      z-index: 2;
      cursor: inherit; }
      .search__content .search-control::placeholder {
        color: white;
        font-size: 24px; }
    .search__content .close-item {
      position: absolute;
      bottom: 300%;
      right: 15px;
      color: white; }
    .search__content .search-item i {
      color: white;
      position: absolute;
      bottom: 10px;
      right: 15px; }
